

body {
  background-color: #0EA5BD;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  height:23vh;
  padding: 20px;
  margin: 0px;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 65px;
  padding-bottom: 45px;
  background-color: #0EA5BD;
}

.containerLinks {
  width: 90vw;
}

.contLink1, .contLink2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  margin-left: 40px;
  width: 120px;
}

.link1 {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: white;
  opacity: 0.5;
  text-decoration: none;
  margin: 40px;
}

.link2 {
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 40px;
}

.link1:hover, .link2:hover {
  opacity: 1;
  text-decoration: underline #ffd644 3px;
}

.linkVk:hover {
  opacity: 1;
}

.dot {
  color: white;
}

.phone {
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 40px;
}

.phone:hover {
  font-size: 19px;

}

.linkContact {
  width: 10%;
  height: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  padding: 7px;
  background-color: transparent;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: white;
}

.linkTelegram {
  border: 2px solid #2bb5f6;
}

.linkTelegram:hover {
  background-color: #2bb5f6;
  transition: all ease-in-out 0.5s;
}

.linkYoutube {
  border: 2px solid #ff3e00 ;

}

.linkYoutube:hover {
  background-color: #fff;
  color: #000;
}

.contBanner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.mainHeader {
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  text-align: center;
  line-height: 57px;
  margin-top: -30px;
  position: relative;
  top: -670px;
  width: 1200px;
}

.textCTA {
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 20px;
  position: relative;
  top: -680px;
  width: 1200px;
}

h1 {
  font-size: 45px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  text-align: center;
  line-height: 57px;
}

p {
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 20px;
}

.btnCTA {
  background: linear-gradient( #feda71 0%,#febb4a 100%);
  border: 1px solid #f5b74e;
  border-color: #f5b74e #e5a73e #d6982f;
  border-radius: 35px;
  box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395; 
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  line-height: 24px;
  padding: 15px 35px 15px 35px;
  overflow: hidden;
}

.btnCTA:hover {
  background-color: #EBB02D;
  transition: all 0.3s linear;
  border: none;
}

.btnCTA1 {
  background: linear-gradient( #feda71 0%,#febb4a 100%);
  border: 1px solid #f5b74e;
  border-color: #f5b74e #e5a73e #d6982f;
  border-radius: 35px;
  box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395; 
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  line-height: 24px;
  padding: 15px 35px 15px 35px;
  overflow: hidden;
  position: absolute;
  top: 750px;
}

.btnCTA1:hover {
  background-color: #EBB02D;
  transition: all 0.3s linear;
  border: none;
}


.wrapper22 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 390px;
}

.mainImage {
  width: 1000px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50vh;
}

.headerSlide {
  font-size: 70px;
  font-family: 'Nunito', sans-serif;
  line-height: 98px;
  font-weight: 900;
  text-align: left;
}

.greeting {
  font-size: 50px;
  font-family: 'Nunito', sans-serif;
  line-height: 98px;
  font-weight: 900;
  text-align: left;
}

.titleSlide {
  font-size: 36px;
  font-family: 'Nunito', sans-serif;
  margin-top: 80px;
  width: 690px;
}

.text {
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 26px;
}

.block1 {
  flex: 1;
  margin-left: 100px;
}

.block2 {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}

.imageOptions {
  width: 500px;
  height: 460px;
  border: none;
  border-radius: 50%;
}

.arrow:hover {
    width: unset;
}

.wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13%;

}

.titleBottom {
  font-size: 13px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  width: 200px;
  margin-top: 10px;
}

.imgLine {
  width: 200px;
  height: 180px;
}

.highlight {
  border: none;
  border-radius: 15px;
  background: #f2f3f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13%;
}

.contText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f3f5;
}

.titleText {
  font-size: 60px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  text-align: center;
  line-height: 66px;
  margin-top: 40px;
  width: 70%;
}

.textOf {
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 26px;
  width: 60%;
  text-align: center;
  text-indent: 40px;
}

.wrapper3 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.imageBanner1 {


}

.imageBanner2 {
 
}

.barbie {
  position: relative;
  left: -600px;
  top: 420px;
  font-family: 'Freehand', cursive;
  font-size: 70px;
  color: #fff;
}

.block3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 95px;
  margin-right: 30px;
  width: 500px;
}

.optionText {
  font-size: 13px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
  border: 1px solid #fff;
  border-radius:20px;
  width: max-content;
  padding: 10px;
 
}

.titleOption {
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  line-height: 66px;
  color: #fff;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
}

.textOption {
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 26px;
  color: #fff;
  width: 500px;
  margin-bottom: 40px;
}

.btnOptions {
  background: #fff;
  border: none;
  border-radius: 35px;
  box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395; 
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  line-height: 24px;
  padding: 15px 35px 15px 35px;
  overflow: hidden;
  margin-right: 30px;
}

.btnOptions:hover {
  background-color: #f2f3f5;
  transition: all 0.3s linear;
  border: none;
}

.aboutText {
 text-align: center;
 font-size: 18px;
 font-family: 'Nunito', sans-serif;
 margin: 20px;
 padding: 30px;
}

.videoBlock {
  background-image: url(../src/assets/littleBoy.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3B503D;
}

.headerVideo {
  font-size: 45px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  text-align: center;
  line-height: 57px;
  position: relative;
  bottom: 129px;
  background-color: #fff;
  padding: 7px;
}

.textVideo {
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  position: relative;
  bottom: 137px;
  background-color: #fff;
  padding: 7px;
  padding-left: 26px;
}

.playImg {
    width: 120px;
    margin: 70px;
}

.playImg:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: transparent;
  border: none;
}

.blueBlock {
  background-color: #525FE1;
  width: 100%;
  height: 95vh;
  padding-top: 50px;
  margin-bottom: 30px;
}

.headerBlueBlock {
  font-size: 50px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  line-height: 66px;
  color: #fff;
  text-align: center;
}

.coverBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  margin: 30px;
}

.blockFeedback {
  position: relative;
  left: -500px;
  top: -20px;
}

.imageFeedback {
  width: 800px;
  margin-left: -430px;
  margin-right: 50px;
  box-shadow: 0 10px 40px 0 rgba(37, 22, 14, 0.2);
    border-radius: 30px;

}

.site-footer {
  background: #FFF;
}

.container-big {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.row {
display: flex;
flex-wrap: wrap;
margin-left: 10px;
margin-right: 10px;
z-index: 1;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 60px;
  
}
.linkFooter {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #000;
  text-decoration: none;
  margin: 10px;
}

.linkFooter:hover {
  opacity: 0.6;
}


.footer-contacts {
  display: flex;
  align-items: flex-start;
  width: 27%;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.address {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  width: 330px;
}

.workHours {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
    font-weight: bold;
    color: #B4BEC8;
    border-top: 1px solid #F5F5F5;
    padding-top: 60px;
background-color: #000;
padding-right: 300px;
}

.footer-bottom__left_info {
  font-size: 15px;
  text-align: left;
  margin-bottom: 0px;
}

.socials {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkContact2 {
  width: 55%;
  height: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  padding: 7px;
  background-color: transparent;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: white;
  margin-right: 20px;
}


.marginCont {
  margin-bottom: 170px;
}

.contAbout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 230px;
}

.aboutImage {
width: 1000px;
}

.contBanner2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(../src/assets/bannerAnimators.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  margin-top: 105px;
  margin-bottom: 100px;
}

.newWrapper6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
  color: #2bb5f6;
  font-size: 65px;
  margin-top: -450px;
  width: 700px;
}

.contBanner3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/bannerShow.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  background-color: #0EA5BD;
}

.newWrapper4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 600px;
  margin-top: 650px;
  background-color: #0EA5BD;
  padding: 15px;
  border: none;
  border-radius: 20px;
}

.contBanner4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/toyCar.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.newWrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 700px;
  height: 100vh;
  margin-top: -50px;
}

.contBanner5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/masterClassPhoto.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.contBanner6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/womanGlasses.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.contBanner7 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/pinkHat.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  background-color: #fc84a7 ;
}

.newWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  margin-left: -450px;
}

.additionalHeader {
  margin-bottom: 50px;
}

.wrapper5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 200px;
  margin-top: 200px;
  margin-left: 1200px;
  background-color: #0EA5BD;
  padding: 20px;
  border: none;
  border-radius: 30px;
}

.newWrapper3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  background-color: #0EA5BD;
  margin-bottom: -590px;
  padding: 20px;
  border: none;
  border-radius: 10px;
}

.wrapper6 {
  display: flex;
  flex-direction: column;
 justify-content: flex-start;
 align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  color: #000;
  margin-top: -150px;
}

.wrapper7 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 0px;
  margin-bottom: 50px;
}


.wrapper9 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  height: 60vh;
}

.contBanner8 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E08E6D;
  height: 100vh;
  width: 100vw;

}


.contAnimators {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  border-radius: 30px;
  margin-bottom: 50px;
}

.img {
  border: none;
  border-radius: 30px;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 420px;
  height: 370px;
}

.headerShow {
  position: relative;
  top: -40px;
  color: #fff;
}

.onHoverBtn {
  position: absolute;
  top: 270px;
  opacity: 0;
  transition: opacity .3s;
}

.img-responsive:hover .onHoverBtn {
  opacity: 1;
  transition: opacity .3s;
}

.animator-preview-img {
  width: 550px;
  height: 450px;
  transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin-bottom: 20px;
}

.animator-preview-img:hover  {
  -webkit-transform: scale3d(1.05, 1.05, 2);
          transform: scale3d(1.05, 1.05, 1);
}
.animator-preview-btn:hover {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 40px) scale3d(1, 1, 1);
          transform: translate3d(0, 0, 40px) scale3d(1, 1, 1);
}

.wrapperBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  margin-top: 350px;
}

.ageTime {
  display: flex;
  justify-content: space-around;
  width: 70%;
  color: rgba(82, 82, 82, 0.4);
}

.par {
  background-color: #ffff;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 40px;

}

.out {
  width: 74%;
}

.wrapText {
  width: 58%;
  text-align: center;
}

.bigCircle {
  width: 17px;
  margin-top: 6px;
}

.priceWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
  padding: 20px;
  margin: 10px;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
  top: -150px;
}

.animatorPrice {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  color: rgba(82, 82, 82, 0.4);
  margin-left: 20px;
  margin-right: 150px;
}

.btn--white:hover {
  background: #eee;
  border-color: #eee;
  box-shadow: 0 10px 20px 0 rgba(77, 77, 77, 0.4);
}

.filter-mob-btn {
  position: relative;
  z-index: 3;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
  margin-bottom: -25px;
  opacity: 0;
}

.btn--icon {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 25px;
}
.btn--white {
  background: #FFF;
  color: #1D1C21;
  border-color: #FFF;
  box-shadow: 0 10px 40px 0 rgba(77, 77, 77, 0.2);
}
.btn {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: top;
  position: relative;
  padding: 17px 25px 15px 25px;
  height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.35;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: linear-gradient(180deg, #FFE547 13%, rgba(255, 205, 68, 0) 100%), #FFB541;
  border: 2px solid #FFCB44;
  color: #1D1C21;
  border-radius: 30px;
  -webkit-tap-highlight-color: transparent;
  display: block;
}

.highlightCategory {
  background-color: #EBB02D;
}

.container-big .filter {
  width: 60%;
  margin-left: 330px;
  padding: 20px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
  border-radius: 30px;
  box-shadow: 0 10px 40px 0 rgba(37, 22, 14, 0.2);
  margin-top: -50px;
  padding: 15px 30px 15px 30px;
 
}

.filter-group {
  margin-right: 20px;
}

.filter-group__list__item.active span:before {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.filter-group__list__item span {
  position: relative;
  font-weight: bold;
  /* padding: 0 0.2em; */
  white-space: nowrap;
  line-height: 1.2;
}
.filter-group__list__item span:before {
  content: "";
  background: #FFD413;
  position: absolute;
  z-index: 1;
  /* bottom: -0.1em; */
  left: 0;
  right: 0;
  height: 0.5em;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.filter-group__list__item span mark {
  position: relative;
  z-index: 2;
  background: transparent;
}

.filter-group__list__item {
  border: none;
  background-color: transparent;
  margin-right: 15px;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


.s-filter {
  padding-bottom: 50px;
  z-index: 2;
  text-align: center;
  padding-top: 1px;
}

.filter-group__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.filter-group__title {
  color: #B4BEC8;
  margin-bottom: 4px;
  text-align: left;
}

.menu-14 {
  font-weight: bold;
  font-size: 13px;
  line-height: 1.4;
}

.wrapper8 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px;
}

.photoZone {
 margin-right: 25px;
  width: 600px;
  height: 600px;
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 30px;
  overflow: hidden;
}


.cell {
  width: 430px;
  height: 350px;
  border: none;
  border-radius: 30px;
  background-position: center;
  background-size: cover;
  margin: 30px;
  margin-top: 0px;
}

.cell2 {
  width: 430px;
  height: 350px;
  border: none;
  border-radius: 30px;
  background-position: center;
  background-size: cover;
  margin: 30px;
  margin-top: 130px;
}

.bottomCell {
  width: 600px;
  height: 420px;
  border: 1px solid rgb(240, 232, 232);
  border-radius: 30px;
  background-position: center;
  background-size: cover;
  margin: 30px;
  margin-top: -200px;
  margin-left: 600px;
}

.decorHeader1 {
  font-size: 40px;
  color: #0EA5BD;
  margin-top: 495px;
 
  line-height: 1.1;
  max-width: 560px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

.decorHeader2 {
  color: #0EA5BD;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.3;
  max-width: 550px;
  margin-top: 265px;
  margin-left: 175px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

.decorHeader3 {
  color: #0EA5BD;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.3;
  max-width: 300px;
  margin-top: 285px;
  margin-left: 75px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

.decorHeader4 {
  color: #0EA5BD;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.3;
  max-width: 300px;
  margin-top: 345px;
  margin-left: 325px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  border: 1px solid rgb(240, 232, 232);
}

#portal {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
border: none;
border-radius: 40px;
}

.decorContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btnWant {
  margin-top: 40px;
}

.sliderDecorCont {
  flex:1.1;
  margin: 20px;
 display: flex;
 flex-direction: column;

}

.imageDecorInner {
    width: 760px;
    height: 500px;
}

.priceWrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
  padding: 20px;
  margin: 10px;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin-top: 90px;
  margin-left: 200px;
  width: 70%;
}

.headerDecorItem {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  margin-top: -50px;
  text-align: center;
}

.circle2 {
  width: 12px;
}

.closeButton {
  position: relative;
  left: 1440px;
  top: -80px;
  background-color: transparent;
  border: none;
  z-index: auto;
}

.listItem {
  display: flex;
  align-items: baseline;
}

.size {
  font-size: 16px;
}

.position {
  margin: 15px;
}

.contMasterClass {
  width: 430px;
  height:430px;
  border: none;
  border-radius: 30px;
  background-position: center;
  background-size: cover;
  margin: 30px;
  box-shadow: inset 0 0 50px 30px rgba(0,0,0,0.7) 
}

.contMasterClass:hover {
  width: 455px;
  height:455px;
  transition: all ease-in-out 0.5s;
}

.masterHeader {
  color: #FFF;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
 margin-top: 379px;
}

.contPortfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #E08E6D;
  padding: 50px;
  width: 100vw;
  margin-bottom: 50px;
}

.position2 {
  margin-top: 230px;
}

.playPortfolio1 {
  width: 70px;
  position: relative;
  left: 480px;
  top: 30px;
}

.playPortfolio1:hover {
  width: 80px;
  transition: all ease-in-out 0.5s;
}

.portfolioHeader1 {
  font-size: 24px;
  color: #FFF;
  line-height: 32;
  text-transform: uppercase;
  margin-top: 100px;
}

.portfolioHeader2 {
  font-size: 18px;
  color: #FFF;
  text-transform: uppercase;
  margin-top: 310px;
 

}

.playPortfolio2 {
  width: 40px;
  position: relative;
  left: 360px;
  top: -330px;
  z-index: 30;
}

.wrapper10 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  background: #282227;
  padding: 30px;
}

.block4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #282227 ;
}

.imageSlider {
  width: 90%;
}


.check {
  width: 30px;
}


.textPortfolio {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 26px;
  color: #fff;
}

.portfolioInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 390px;
  margin: 50px;
}

.listItem2 {
  display: flex;
  align-items: baseline;
 width: 250px;
 margin-right: 50px;
}

.portfolioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.imageVideo {
width: 1100px;

}

.playWhite {
  position: relative;
  left: -600px;
  width: 90px;
}

.playWhite:hover {
  width: 110px;
}

.contQA {
width: 60%;
margin-left: 350px;
padding: 50px;
margin-bottom: 70px;
font-family: 'Nunito', sans-serif;

}

.headerFAQ {
text-align: center;
margin: 50px;
width: 100%;
}

.accordionItem {
border: 1px solid #5A96E3;
}

.itemQA {
  margin-bottom: 30px;
  
}

.accordion-body {
  background-color: #A1C2F1;
}


.modalForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    max-width: 100%;
    padding: 25px;
    background: #FFF;
    box-shadow: 0 10px 40px 0 rgba(37, 22, 14, 0.2);
    border-radius: 30px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
    margin-left: 600px;
    margin-top: 130px;
}

.modal__title {
  text-align: center;
  padding: 0 40px;
  margin-bottom: 0.3em;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.35;
  font-family: 'Nunito', sans-serif;
}

.modal__description {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.input__label {
  display: block;
  padding-left: 30px;
  margin-bottom: 2px;
  text-align: left;
}

.menu-18 {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.35;
}


.input {
  display: block;
}

.input-text {
  display: inline-block;
  font-family: "Nunito", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  -webkit-appearance: none;
  border: none;
  padding: 17px 30px;
  overflow: visible;
  background: #FFF;
  color: #1D1C21;
  border-radius: 30px;
  box-shadow: 0 10px 40px 0 rgba(77, 77, 77, 0.2), 0 0 0 3px transparent;
  width: 100%;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.vertical-form  {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 350px;
}
.gray-form  {
  color: #B4BEC8;
}

.style-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.1;
}

.style-checkbox span:before {
  content: "";
  width: 18px;
  height: 18px;
  border: 2px solid currentColor;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.errors {
  height: 40px;
  color: red;
  font-size: 14px;
}

.closeButtonForm {
  position: relative;
  left: 1000px;
  top: 90px;
  background-color: transparent;
  border: none;
}

.heart {
	position: relative;
  left: 120px;
	width: 100px;
	height: 100px;
	-webkit-transform: rotate(45deg);  
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg); 
	transform: rotate(45deg);
	border: none;
	border-top: none;
	border-left: none;
  background: red;
  z-index: -2;
  margin-top: 80px;
  margin-bottom: 50px;
}

.heart:before, .heart:after {
	position:absolute;
	content: ' ';
	-webkit-border-radius: 50px 0 0 50px;
	-moz-border-radius: 50px 0 0 50px;
	border-radius: 50px 0 0 50px;
	width: 70px;
	height: 100px;
	border: none;
	border-right: none;
	left:-70px;
  background: red;
}
.heart:after {
	position: absolute;
	left: 15px;
	top: -85px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.waves {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 129px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
}

.waves svg {
  height: 100%;
  width: auto;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-left: -1px;
}

.waves--bottom {
  bottom: -2px;
}

.waves--top {
  top: -2px;
}

.waves--big {
  height: 160px;
}

.waves--anim svg {
  -webkit-animation: waves 10s infinite linear;
          animation: waves 10s infinite linear;
}

@-webkit-keyframes waves {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

@keyframes waves {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}
.waves--white svg {
  fill: #FFF;
 
}

.waves--white {
  position: sticky;
  top: 1000px;
}

.waveWhite2  {
  position: sticky;
  top: 1800px;
}

.waves--black svg {
  fill: #1D1C21;
}

.waves--blue svg {
  fill: #0EA5BD;
}

.waves--blue {
  position: sticky;
  top: 1990px;
}

.waves--blue-2 svg {
  fill: #7BD2F1;
}

.waves--yellow svg {
  fill: #F9DFBD;
}

.waves--yellow-2 svg {
  fill: #FFF2E1;
}

.waves--pink svg {
  fill: #F7D0CC;
}

.waves--light-pink svg {
  fill: #F4EBF4;
}

.waves--light-blue svg {
  fill: #EDFBFF;
}

.waves--gray svg {
  fill: #F3F3F3;
}

.waves--green svg {
  fill: #5BBCA9;
}

.waves--gold svg {
  fill: #D6B387;
}

.waves--purple svg {
  fill: #CB9FDF;
}

.waves--transparent {
  display: none;
}

